<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="product-list-container">
    
    <div class="product-grid">
      <!-- @for (product of products; track product.id) {
        <app-product-card [product]="product"></app-product-card>
      } -->
      @if (products.length === 0) {
        <p class="no-product">No products in this category.</p>
      }

      @for (product of products; track product.id) {
        <app-product-card [product]="product" (delete)="removeProduct($event)">
          
        </app-product-card>
      }
    </div>
  </div>
</body>
</html>