* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    text-decoration: none;
    color: #3b5af7;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 40px;
    gap: 80px;
}

.facebook-logo {
    color: #3b5af7;
    font-size: 80px;
    margin: 0;
}

.left {
    margin-top: -120px;
}

.text-under-logo {
    font-weight: normal;
    margin-top: 16px;
    line-height: 1.3;
    font-size: 24px;
}

.right{
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 14px
}

.form-container {
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 396px;
    margin-bottom: 30px;
}

form input {
    padding: 16px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #dddfe2;
    font-family: Arial, Helvetica, sans-serif;
}

form input:focus::placeholder {
    color: #a9a9a9
}

form input:focus {
    outline: 1px solid #3b5af7;
}

form a {
    font-size: 15px;
    color: #3b5af7;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddfe2;
}

form a:hover{
    text-decoration: underline;
}

.button {
    background: #3b5af7;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
}

.button:hover {
    background-color: #2943c8;
}

.button.green {
    font-size: 18px;
    background-color: #42b72a;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -10px;
}

.button.green:hover {
    background-color: #2d891a;
}


.right p {
    font-size: 16px;
}

.right p a {
    color: #000;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #65676b;
    background: #e4e4e4;
    margin-top: -100px;
    padding: 16px 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 10px 0;
}

.footer-copyright {
    font-size: 14px;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
        justify-content: center;
        padding: 20px;
    }

    .text-under-logo {
        font-size: 20px;
        width: 400px;
        line-height: 1.2;
    }

    .left {
        margin-top: 0;
    }

    footer {
        margin-top: -20px;
    }

    .footer-links {
        width: 400px;
        margin-inline: auto;
    }
}