.card {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.image-container img {
  width: 100%;
  height: 220px;
  object-fit: scale-down;
  border-radius: 8px;
  cursor: pointer;
}

.thumbnails {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}

.thumbnails img {
  width: 50px;
  height: 50px;
  object-fit: scale-down;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
}

h3 {
  margin-top: 15px;
  font-size: 18px;
}

.description {
  font-size: 14px;
  color: #555;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #e60000;
  margin: 10px 0;
}

.rating {
  margin-bottom: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-btn {
  background-color: #fa3b3b;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
}

.view-btn:hover {
  background-color: #c40000;
}

.share-buttons {
  display: flex;
  justify-content: space-between;
}

.share-buttons button:hover {
  color: #000;
  opacity: 0.7;
}

.whatsapp,  .telegram{
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  width: 47%;
}

.whatsapp {
  background-color: #2bdd6c;
}

.telegram {
  background-color: #2598d2;
}



