* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.logo {
    width: 80px;
    margin: 40px 0 0 50px;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    margin-inline: 40px;
    padding: 0 5px;
}

.left {
    max-width: 57%;
    text-align: center;
    padding-inline: 15px;
    margin-top: -80px;
}

.text-under-logo {
    font-weight: 500;
    line-height: 1.3;
    font-size: 44px;
    
}

.text-under-logo span {
    background: linear-gradient(to right, #ffb115, #e4058e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left img {
    width: 360px;
}

/* .line {
    background:#dddfe2;
    width: 2px;
    height: 700px;
    margin: 0;
    padding: 0;
} */

.right {
    text-align: center;
    width: 40%;
    padding-left: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px
}

form h3 {
    text-align: left;
}

.form-container {
    padding: 16px;
}

form input {
    padding: 16px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #dddfe2;
    font-family: Arial, Helvetica, sans-serif;
}

form input:hover {
    border: 1px solid #a8a8a8;
    background: #f6f6f6;
}

form input:focus {
    outline: 1px solid #3b5af7;
}

form a {
    font-size: 15px;
    color: #3b5af7;
}

form a:hover{
    color: #041974;
}

form svg {
    width: 14px;
    align-items: center;
}

.button {
    background: #3b5af7;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 200px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 0;
}

.button.white {
    background-color: #fff;
    color: #1c1c1c;
    border: 1px solid #dddfe2;
    margin-top: 40px;
}

.button.border-blue {
    background: #fff;
    color: #3b5af7;
    border: 1px solid #3b5af7;
    margin-top: 16px;
}

.button:hover {
    background: linear-gradient(to right, #ffb115, #e4058e);
    color: #fff;
    border: 1px solid #dddfe2;
}

form p {
    margin-top: 8px;
    font-size: 18px;
}

form p svg {
    width: 20px;
}

footer {
    border-top: 1px solid #dddfe2;
    text-align: center;
    font-size: 14px;
    color: #65676b;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-links a {
    color: #65676b;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #041974;
}